@page
@{
    Layout = "_BlankLayout";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="~/dist/colored-theme.min.css">
    <link rel="stylesheet" href="~/dist/dark-theme.min.css">
    <link rel="stylesheet" href="~/dist/light-theme.min.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.dist.js"></script>
    <script src="~/dist/growl-notification.min.js">
    </script>
}

@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-4 mt-2">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-body fw-bold ms-1">Loan Application</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1 pt-2">Welcome to Loan Application</h4>
                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                    <form id="formAuthentication" class="mb-3" method="POST" asp-action="Login" asp-controller="Home">
                        <div class="mb-3">
                            <label for="username" class="form-label">Indice</label>
                            <input type="text" class="form-control" id="indice" name="indice" placeholder="Entrez votre indice" autofocus>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="tel">Téléphone</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="tel" id="tel" class="form-control" name="tel" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="tel" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                    </form>
                    @{
                        if (ViewBag.IsSuccess != null)
                        {
                            <script>
                                GrowlNotification.notify({
                                    title: 'Login successfull',
                                    description: 'You just submit your resume successfully.',
                                    type: 'success',
                                    position: 'top-right',
                                    closeTimeout: 0
                                });
                            </script>
                        }
                        if (ViewBag.Error != null)
                        {
                            <script>
                                GrowlNotification.notify({
                                    title: 'Login successfull',
                                    description: @ViewBag.Error,
                                    type: 'danger',
                                    position: 'top-right',
                                    closeTimeout: 0
                                });
                            </script>
                        }
                    }

            
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
