<li class="nav-item navbar-dropdown dropdown-user dropdown">
	<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
		<div class="avatar avatar-online">
			<img src="~/img/avatars/avatar-small.png" alt="avatar" class="h-auto rounded-circle" height="40" width="40">
		</div>
	</a>
	<ul class="dropdown-menu dropdown-menu-end">
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<div class="d-flex">
					<div class="flex-shrink-0 me-3">
						<div class="avatar avatar-online">
							<img src="~/img/avatars/avatar-small.png" alt="avatar" class="h-auto rounded-circle" height="40" width="40">
						</div>
					</div>
					<div class="flex-grow-1">
						<span class="fw-semibold d-block">@TempData["User"]</span>
						<small class="text-muted">Client</small>
					</div>
				</div>
			</a>
		</li>
		<li>
			<div class="dropdown-divider"></div>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<i class="ti ti-user-check me-2 ti-sm"></i>
				<span class="align-middle">Mon profil</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<i class="ti ti-settings me-2 ti-sm"></i>
				<span class="align-middle">Paramètres</span>
			</a>
		</li>
		<li>
			<div class="dropdown-divider"></div>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<i class="ti ti-lifebuoy me-2 ti-sm"></i>
				<span class="align-middle">Aide</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<i class="ti ti-help me-2 ti-sm"></i>
				<span class="align-middle">Faq</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
				<i class="ti ti-currency-dollar me-2 ti-sm"></i>
				<span class="align-middle">Tarification</span>
			</a>
		</li>
		<li>
			<div class="dropdown-divider"></div>
		</li>
		<li>
			<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout">
				<i class="ti ti-logout me-2 ti-sm"></i>
				<span class="align-middle">Déconnexion</span>
			</a>
		</li>
	</ul>
</li>
