@model SaveDossierClientResourceViewModel
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section VendorStyles{
    <link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/spinkit/spinkit.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/toastr/toastr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}


<section class="bernard">
    <div class="col-md-12">
        @await Html.PartialAsync("Sections/Menu/_GenerationPartial")
    </div>
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Demande de crédit.</span>
    </h4>

    <div>
        <div class="col-12">
            <h5></h5>
        </div>

        <!-- Default Wizard -->
        <div class="col-12 mb-4">
            <small class="text-light fw-semibold"></small>
            <div class="bs-stepper wizard-numbered mt-2">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#account-details">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Informations physiques</span>
                                <span class="bs-stepper-subtitle">Physique</span>
                            </span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#personal-info">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Informations personnelles</span>
                                <span class="bs-stepper-subtitle">Entrez vos informations personnelles.</span>
                            </span>

                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#social-links">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Autres informations</span>
                                <span class="bs-stepper-subtitle">Autres informations</span>
                            </span>
                        </button>
                    </div>
                    <div class="step" data-target="#files">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Fichiers</span>
                                <span class="bs-stepper-subtitle">Fichiers</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form asp-action="DemandeCreditAction" method="post" asp-controller="DemandeCredit" enctype='multipart/form-data' id="myForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div id="account-details" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Informations physiques</h6>
                                <small>Entrez vos informations physiques.</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label asp-for="SaveDossierClientResource.Taille" class="col-form-label">Taille en centimètres</label>
                                    <input type="number" id="taille" name="Taille" class="form-control" min="100" required ="required"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.Poids">Poids (Kg)</label>
                                    <input type="number" id="poids" name="Poids" class="form-control" required="required" min="20" max="250"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.TensionArterielle">Tension Artérielle</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="tension" name="tension" class="form-control" required="required" min="0" max="20" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.StatutMaritalId">Statut Marital </label>
                                    <select class="select2" id="statut" name="statutMarital" required="required">
                                        <option label=" "></option>
                                        <option value="1">Célibataire</option>
                                        <option value="2">Divorcé(e)</option>
                                        <option value="3">Marié(e)</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-12 d-flex justify-content-between">
                                        <button class="btn btn-label-secondary btn-prev" disabled>
                                            <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                            <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                        </button>
                                        @*<button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>*@
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <!-- Personal Info -->
                        <div id="personal-info" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Informations personnelles</h6>
                                <small>Entrez vos informations personnelles.</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.Fumeur">Fumez-vous</label>
                                    <select class="select2" id="fumeur" name="Fumeur" required="required">
                                        <option label=" "></option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.NbrCigarettes">Si oui, combien de cigarettes par jour?</label>
                                    <input type="number" id="nbrCigarettes" name="NbrCigarettes" class="form-control" min="0" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.Buveur">Buvez-vous de l'alcool ?</label>
                                    <select class="select2" id="buveur" required="required" name="Buveur">
                                        <option label=" "></option>
                                        <option value="1">Pas du tout</option>
                                        <option value="2">A l'occasion</option>
                                        <option value="3">Régulièrement</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.Distractions">Vos distractions</label>
                                    <select class="selectpicker w-auto" id="distractions" name="Distractions" data-style="btn-transparent" data-icon-base="ti" data-tick-icon="ti-check text-white" required="required" multiple>
                                        <option>Télévision</option>
                                        <option>Cinéma</option>
                                        <option>Arts</option>
                                        <option>Lecture</option>
                                        <option>Voyage</option>
                                        <option>Sport</option>
                                        <option>Mangas</option>
                                        <option>Jeux vidéo</option>
                                        <option>Musique</option>
                                        <option>Culture Générale</option>
                                    </select>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    @*<button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>*@
                                </div>
                            </div>
                        </div>
                        <!-- Social Links -->
                        <div id="social-links" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Autres informations</h6>
                                <small>Autres informations</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.EstSportif">Pratiquez-vous un sport ?</label>
                                    <select class="selectpicker w-auto" id="sport" name="sport" data-style="btn-transparent" data-icon-base="ti" data-tick-icon="ti-check text-white" required="required">
                                        <option value=" "> </option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.CategorieSport">Si oui, à quel titre ?</label>
                                    <select class="select2" id="categorieSport" name="CategorieSport" data-style="btn-transparent" data-icon-base="ti" data-tick-icon="ti-check text-white">
                                        <option value=""> </option>
                                        <option value="1">Amateur</option>
                                        <option value="2">Professionnel</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" asp-for="SaveDossierClientResource.EstInfirme">Etes vous atteint d'une infirmité ?</label>
                                    <select class="selectpicker w-auto" id="estInfirme" name="EstInfirme" data-style="btn-transparent" data-icon-base="ti" data-tick-icon="ti-check text-white" required="required">
                                        <option value=" "> </option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.NatureInfirmite">Si oui, de quelle nature ?</label>
                                    <input type="text" id="natureInfirmite" name="NatureInfirmite" class="form-control" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.DateSurvenance">Date de survenance</label>
                                    <input type="date" id="dateSurvenance" name="infirmiteOuiDate" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    @*<button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>*@
                                </div>
                            </div>
                        </div>
                        <div id="files" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Fichiers</h6>
                                <small>Fichiers</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.AttestationTravail">Attestation de travail.</label>
                                    <input type="file" id="attestationTravail" name="attestationTravail" class="form-control" accept=".pdf"/>
                                    
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.ContratTravail">Contrat de travail.</label>
                                    <input type="file" id="contratTravail" name="contratTravail" class="form-control" accept=".pdf"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.PremierBulletinSalaire">Premier Bulletin de salaire.</label>
                                    <input type="file" id="premierBulletinSalaire" name="premierBulletinSalaire" class="form-control" accept=".pdf" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.DeuxiemeBulletinSalaire">Deuxième Bulletin de salaire.</label>
                                    <input type="file" id="deuxiemeBulletinSalaire" name="deuxiemeBulletinSalaire" class="form-control" accept=".pdf" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.TroisiemeBulletinSalaire">Troisième Bulletin de salaire.</label>
                                    <input type="file" id="troisiemeBulletinSalaire" name="troisiemeBulletinSalaire" class="form-control" accept=".pdf" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.FactureProFormat">Facture proforma</label>
                                    <input type="file" id="facture" name="facture" class="form-control" accept=".pdf" />
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.CarteIdentite">Pièce d'identité</label>
                                    <input type="file" id="piece" name="piece" class="form-control" accept=".pdf"/>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label" asp-for="SaveDossierClientResource.EcheanceCarteIdentite">Echeance de la pièce</label>
                                    <input type="date" id="echeance" name="echeance" class="form-control"/>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button type="submit" class="btn btn-label-primary" id="myFormSubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Default Wizard -->

        <div class="col-12 mb-4">
            <small class="text-light fw-semibold">Questions liées à la santé.</small>
            <div class="bs-stepper wizard-vertical vertical mt-2">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#account-details-1">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 1</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 1</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#personal-info-1">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 2</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 2</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#social-links-1">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 3</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 3</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#social-links-2">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">4</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 4</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 4</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#social-links-3">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">5</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 5</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 5</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#social-links-4">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">6</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 6</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 6</span>
                            </span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#social-links-5">
                        <button type="button" class="step-trigger">
                            <span class="bs-stepper-circle">7</span>
                            <span class="bs-stepper-label">
                                <span class="bs-stepper-title">Question 7</span>
                                <span class="bs-stepper-subtitle">Répondez à la question 7</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form onSubmit="return false">
                        <!-- Account Details -->
                        <div id="account-details-1" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Questions liées à la santé.</h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="malade">Avez-vous été malade lors des 6 derniers mois ?</label>
                                    <select class="select2" id="malade" name="malade" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision" name="ouiPrecision" class="form-control"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement1">Période de traitement.</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="periodeTraitement1" name="periodeTraitement1" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement1">Lieu de traitement.</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="lieuTraitement1" name="lieuTraitement1" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="fatigue">Etes vous souvent fatigué ?</label>
                                    <select class="select2" id="fatigue" name="fatigue" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision1">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision1" name="ouiPrecision1" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement2">Période de traitement.</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="periodeTraitement2" name="periodeTraitement2" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement2">Lieu de traitement.</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="lieuTraitement2" name="lieuTraitement2" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev" disabled>
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Personal Info -->
                        <div id="personal-info-1" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">Personal Info</h6>
                                <small>Enter Your Personal Info.</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="maigrir">Avez-vous maigri les 6 derniers mois?</label>
                                   <select class="select2" id="maigrir" name="maigrir" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision3">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision3" name="ouiPrecision3" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement3">Période de traitement</label>
                                    <input type="text" id="periodeTraitement3" name="periodeTraitement3" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement3">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement3" name="lieuTraitement3" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ganglions">Avez-vous des ganglions, des furoncles, des abcès ou des maladies de la peau ?</label>
                                    <select class="select2" id="ganglions" name="ganglions" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision4">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision4" name="ouiPrecision4" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement4">Période de traitement</label>
                                    <input type="text" id="periodeTraitement4" name="periodeTraitement4" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement4">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement4" name="lieuTraitement4" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Social Links -->
                        <div id="social-links-1" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0"></h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                               <div class="col-sm-6">
                                    <label class="form-label" for="toux">Toussez-vous depuis quelques temps avec en plus de la fièvre?</label>
                                   <select class="select2" id="toux" name="toux" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision5">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision5" name="ouiPrecision5" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement5">Période de traitement</label>
                                    <input type="text" id="periodeTraitement5" name="periodeTraitement5" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement5">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement5" name="lieuTraitement5" class="form-control" />
                                </div>  
                                <div class="col-sm-6">
                                    <label class="form-label" for="plaies">Avez-vous des plaies dans la bouche ?</label>
                                    <select class="select2" id="plaies" name="plaies" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision6">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision6" name="ouiPrecision6" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement6">Période de traitement</label>
                                    <input type="text" id="periodeTraitement6" name="periodeTraitement6" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement6">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement6" name="lieuTraitement6" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="social-links-2" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0"></h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="diarrhee">Faites vous souvent la diarrhée ?</label>
                                    <select class="select2" id="diarrhee" name="diarrhee" required="required">
                                        <option label=""></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision7">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision7" name="ouiPrecision7" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement7">Période de traitement</label>
                                    <input type="text" id="periodeTraitement7" name="periodeTraitement7" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement7">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement7" name="periodeTraitement7" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ballonnement">Etes vous souvent ballonné(e) ?</label>
                                    <select class="select2" id="ballonnement" name="ballonnement" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision8">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision8" name="ouiPrecision8" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement8">Période de traitement</label>
                                    <input type="text" id="periodeTraitement8" name="ouiPrecision8" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement8">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement8" name="lieuTraitement8" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="social-links-3" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0"></h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="omi">Avez-vous des OEdèmes de Membres Inférieurs (O.M.I) ?</label>
                                    <select class="select2" id="omi" required="required">
                                        <option label=""></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision9">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision9" name="ouiPrecision9" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement9">Période de traitement</label>
                                    <input type="text" id="periodeTraitement9" name="periodeTraitement9" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement9">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement9" name="lieuTraitement9" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="essoufflement">Etes vous essoufflé(e) au moindre effort ?</label>
                                    <select class="select2" id="essoufflement" name="essoufflement" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision10">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision10" name="ouiPrecision10" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement10">Période de traitement</label>
                                    <input type="text" id="periodeTraitement10" name="periodeTraitement10" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement10">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement10" name="lieuTraitement10" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="social-links-4" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0"></h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="perf">Avez-vous déjà reçu une perfusion?</label>
                                    <select class="select2" id="perf" name="perf" required="required">
                                        <option label=""></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision11">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision11" name="ouiPrecision11" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement11">Période de traitement</label>
                                    <input type="text" id="periodeTraitement11" name="periodeTraitement11" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement11">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement11" name="lieuTraitement11" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="transf">Avez-vous déjà reçu une transfusion de sang ?</label>
                                    <select class="select2" id="transf" name="transf" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision12">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision12" name="ouiPrecision12" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement12">Période de traitement</label>
                                    <input type="text" id="periodeTraitement12" name="periodeTraitement12" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement12">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement12" name="lieuTraitement12" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                    <button class="btn btn-primary btn-next"> <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span> <i class="ti ti-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="social-links-5" class="content">
                            <div class="content-header mb-3">
                                <h6 class="mb-0"></h6>
                                <small></small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="operation">Avez-vous déjà subi une opération?</label>
                                    <select class="select2" id="operation" name="operation" required="required">
                                        <option label=""></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision13">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision13" name="ouiPrecision13" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement13">Période de traitement</label>
                                    <input type="text" id="periodeTraitement13" name="periodeTraitement13" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement13">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement13" name="lieuTraitement13" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="complement">Avez-vous des informations complémentaires sur votre état de santé
                                        susceptibles de renseigner l'Assureur ?</label>
                                    <select class="select2" id="complement" name="complement" required="required">
                                        <option label=" "></option>
                                        <option>Oui</option>
                                        <option>Non</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="ouiPrecision14">Si oui, précisez</label>
                                    <input type="text" id="ouiPrecision14" name="ouiPrecision14" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="periodeTraitement14">Période de traitement</label>
                                    <input type="text" id="periodeTraitement14" name="periodeTraitement14" class="form-control" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="lieuTraitement14">Lieu de traitement</label>
                                    <input type="text" id="lieuTraitement14" name="lieuTraitement14" class="form-control" />
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev">
                                        <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                        <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                    </button>
                                     <input type="submit" class="btn btn-success" value="Submit"/>                        
                                </div>
                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .bernard {
        position: absolute;
        left: 300px;
        top: 60px;
    }
</style>

@section VendorScripts{
    <script src="~/vendor/libs/bs-stepper/bs-stepper.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-select/bootstrap-select.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/tagify/tagify.dist.js"></script>
    <script src="~/vendor/libs/block-ui/block-ui.dist.js"></script>
    <script src="~/vendor/libs/toastr/toastr.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageScripts {
    @*<script src="~/js/form-wizard-numbered.js"></script>*@
   <script src="~/bernard/assets/js/form-wizard-numbered.js"></script>
    <script src="~/js/custom/home-index.js"></script>
    <script>
        $(function () {
            var nbrCigarettes = 0;
            var cigarettesField = $('#nbrCigarettes');
            if($('#fumeur').val() == "0"){
                cigarettesField.attr('disabled', 'disabled');
            }
            else{
                nbrCigarettes = $('#nbrCigarettes');
            }
            var form = window.$('#myForm'),
                submit = window.$('#myFormSubmit'),
                taille = $('#taille'),
                poids = $('#poids'),
                tension = $('#tension'),
                statut = $('#statut'),
                fumeur = $('#fumeur'),
                nbrCigarettes = nbrCigarettes,
                buveur = $('#buveur'),
                distractions = $('#distractions'),
                carteIdentite = $('#piece'),
                contratTravail = $('#contratTravail'),
                attestationTravail = $('#attestationTravail'),
                premierBulletinSalaire = $('#premierBulletinSalaire'),
                deuxiemeBulletinSalaire = $('#deuxiemeBulletinSalaire'),
                troisiemeBulletinSalaire = $('#troisiemeBulletinSalaire'),
                factureProFormat = $('#facture'),
                estSportif = $('#sport'),
                categorieSport = $('#tcategorieSport'),
                echeanceCarteIdentite = $('#echeanceCarteIdentite'),
                estInfirme = $('#estInfirme'),
                natureInfirmite = $('#natureInfirmite'),
                dateSurvenance = $('#dateSurvenance'),
                title,
                message,
                errorTitle = new DOMParser().parseFromString('Erreur', 'text/html').body.innerHTML,
                errorTypeMessage = 'error',
                errorMessage = new DOMParser().parseFromString('Une erreur s\'est produite', 'text/html').body.innerHTML,
                errorDescription = '',
                errorTimeOut = 500000,
                errors = [];

            form.on("submit",
                function (event) {
                    event.preventDefault();
                    var url = window.$(this).attr("action");
                    var data = window.$(this).serialize();
                    window.$.ajax({
                        url: url,
                        type: "POST",
                        data: data,
                        dataType: "json",
                        beforeSend: function () {
                            submit.attr('disabled', 'disabled');
                            window.$.blockUI({
                                message: '<div class="spinner-border text-primary" role="status"></div>',
                                css: {
                                    backgroundColor: 'transparent',
                                    border: '0'
                                },
                                overlayCSS: {
                                    backgroundColor: '#fff',
                                    opacity: 0.8
                                }
                            });
                        },
                        success: function (response) {
                            var strJson = JSON.parse(response.strJsonDemandeCredit);
                            taille.val(strJson.Taille);
                            poids.val(strJson.Poids);
                            tension.val(strJson.TensionArterielle);
                            statut.val(strJson.StatutMaritalId);
                            fumeur.val(strJson.Fumeur);
                            codeBanqueVirement.val(strJson.CodeBanqueVirement);
                            codeAgenceVirement.val(strJson.CodeAgenceVirement);
                            numeroCompteVirement.val(strJson.NumeroCompteVirement);
                            cleRibVirement.val(strJson.CleRibVirement);
                            motifVirement.val(strJson.MotifVirement);
                            message = new DOMParser().parseFromString(response.message, 'text/html').body.innerHTML;
                            window.toastr[response.typeMessage]('👋 ' + message,
                                response.title,
                                {
                                    showMethod: 'slideDown',
                                    hideMethod: 'slideUp',
                                    closeButton: true,
                                    tapToDismiss: false,
                                    progressBar: true,
                                    timeOut: response.timeOut,
                                    rtl: window.$('html').attr('data-textdirection') === 'rtl',
                                    onHidden: function () { }
                                });
                        },
                        error: function (response) {
                            try {
                                var obj = JSON.parse(JSON.stringify(response.responseJSON));
                                if (obj.length !== 0) {
                                    if (response.status === 500) {
                                        message = new DOMParser().parseFromString('Une erreur s\'est produite', 'text/html').body.innerHTML;
                                        window.toastr[errorTypeMessage]('👋 ' + message,
                                            errorTitle,
                                            {
                                                showMethod: 'slideDown',
                                                hideMethod: 'slideUp',
                                                closeButton: true,
                                                tapToDismiss: false,
                                                progressBar: true,
                                                timeOut: errorTimeOut,
                                                rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                            });
                                    }
                                    else {
                                        if (obj.typeMessage != null && obj.typeMessage !== undefined) {
                                            if (response.status === 0) {
                                            } else if (response.status === 400 || response.status === 404 || response.status === 405 || response.status === 500) {
                                                errorTitle = obj.title;
                                                errorTypeMessage = obj.typeMessage;
                                                errorMessage = obj.message;
                                                errorDescription = obj.description;
                                                errorTimeOut = obj.timeOut;
                                                if (obj.erreurs != null && obj.erreurs != undefined) errors = obj.erreurs;
                                            }
                                            if (errors !== null && errors !== undefined && errors.length > 0) {
                                                var messages = '';
                                                if (errors.length == 1) {
                                                    messages = errors;
                                                }
                                                else {
                                                    for (var i = 0; i < errors.length; i++) {
                                                        messages += errors[i] + "<br>";
                                                    }
                                                    messages = messages.slice(0, -4);
                                                }
                                                errorMessage = new DOMParser().parseFromString(messages, 'text/html').body.innerHTML;

                                            } else if (errorDescription !== null && errorDescription !== undefined) {
                                                errorMessage = new DOMParser().parseFromString(errorDescription, 'text/html').body.innerHTML;
                                            } else {
                                                errorMessage = new DOMParser().parseFromString(errorMessage, 'text/html').body.innerHTML;
                                            }
                                            window.toastr[errorTypeMessage]('👋 ' + errorMessage,
                                                errorTitle,
                                                {
                                                    showMethod: 'slideDown',
                                                    hideMethod: 'slideUp',
                                                    closeButton: true,
                                                    tapToDismiss: false,
                                                    progressBar: true,
                                                    timeOut: errorTimeOut,
                                                    rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                                });
                                        }
                                    }
                                }
                            } catch (err) {
                                window.toastr[errorTypeMessage]('👋 ' + err,
                                    errorTitle,
                                    {
                                        showMethod: 'slideDown',
                                        hideMethod: 'slideUp',
                                        closeButton: true,
                                        tapToDismiss: false,
                                        progressBar: true,
                                        timeOut: errorTimeOut,
                                        rtl: window.$('html').attr('data-textdirection') === 'rtl'
                                    });
                            }
                        },
                        complete: function () {
                            submit.removeAttr('disabled');
                            window.$.unblockUI();
                        }
                    });
                });

        });

    </script>
}


@{
    if (TempData["IsSuccess"] != null)
    {
        <script>

            alert('Connexion réussie.');
        </script>
        TempData["IsSuccess"] = null;
    }

    //if (!ViewBag.IsLoanSuccess.IsNull())
    //{
    //     <script>
    //        alert('Demande effectuée avec succès');
    //    </script>
    //}
    //if (!ViewBag.IsApplyFailed.IsNull())
    //{
    //     <script>
    //        alert('Une erreur a été levée.');
    //    </script>
    //}
}
