@{
	ViewData["Title"] = "Accueil";
}

@* ************** Content ************** *@
<h4 class="fw-bold py-3 mb-4">
	<span class="text-muted fw-light">Accueil</span>
</h4>

@section VendorStyles {

}

@section VendorScripts {

}

@section PageScripts {
	<script>
		$(function () {

		});
	</script>
}

<div class="row">
	<div class="col-md-12">
	</div>
	<div class="col-md-12">
		<div class="card mb-4">
			<div class="card-body">
			</div>
		</div>
	</div>
</div>
