@{
	ViewData["Title"] = "Mes demandes";

}

@* ************** Content ************** *@
<h4 class="fw-bold py-3 mb-4">
	<span class="text-muted fw-light">Mes demandes de crédit</span>
</h4>

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
}

@section VendorScripts {
	<script src="~/vendor/libs/datatables/jquery.dataTables.dist.js"></script>
	<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/datatables-responsive/datatables.responsive.dist.js"></script>
	<script src="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/datatables-buttons/datatables-buttons.dist.js"></script>
	<script src="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.js"></script>
}

@section PageScripts {
	<script>
		$(function () {
			var credits = $('.credits');
			var json = [{ "Id": 1, "NumeroDossier": "DEMANDE - 0001", "Montant": 10000, "Statut": "Validé", "Taille": "184.0", "Poids": "60.0", "TensionArterielle": "12/8", "Fumeur": false, "NbrCigarettes": 0, "BuveurOccasionnel": false, "BuveurRegulier": false, "Distractions": "Culture Générale", "CouvertureEmprunteur": "", "CarteIdentite": "ATTIOGBE Godwin_CARTE_IDENTITE", "ContratTravail": "ATTIOGBE Godwin_CONTRAT_TRAVAIL", "AttestationTravail": "ATTIOGBE Godwin_ATTESTATION_TRAVAIL", "PremierBulletinSalaire": "ATTIOGBE Godwin_PREMIER_BULLETIN_SALAIRE", "DeuxiemeBulletinSalaire": "ATTIOGBE Godwin_DEUXIEME_BULLETIN_SALAIRE", "TroisiemeBulletinSalaire": "ATTIOGBE Godwin_TROISIEME_BULLETIN_SALAIRE", "FactureProFormat": "ATTIOGBE Godwin_FACTURE_PROFORMA", "EcheanceCarteIdentite": "2023-09-10", "EstSportif": false, "CategorieSport": 0, "EstInfirme": false, "NatureInfirmite": "", "DateSurvenance": "", "DateSoumission": "23/08/2023 05:10:15", "StatutMaritalId": 1, "ClientId": 1 }, { "Id": 2, "NumeroDossier": "DEMANDE - 00002", "Montant": 20000, "Statut": "Rejeté", "Taille": 185.0, "Poids": 60.0, "TensionArterielle": "12/8", "Fumeur": false, "NbrCigarettes": 0, "BuveurOccasionnel": false, "BuveurRegulier": false, "Distractions": "Culture Générale", "CouvertureEmprunteur": "", "CarteIdentite": "ATTIOGBE Godwin_CARTE_IDENTITE", "ContratTravail": "ATTIOGBE Godwin_CONTRAT_TRAVAIL", "AttestationTravail": "ATTIOGBE Godwin_ATTESTATION_TRAVAIL", "PremierBulletinSalaire": "ATTIOGBE Godwin_PREMIER_BULLETIN_SALAIRE", "DeuxiemeBulletinSalaire": "ATTIOGBE Godwin_DEUXIEME_BULLETIN_SALAIRE", "TroisiemeBulletinSalaire": "ATTIOGBE Godwin_TROISIEME_BULLETIN_SALAIRE", "FactureProFormat": "ATTIOGBE Godwin_FACTURE_PROFORMA", "EcheanceCarteIdentite": "2023-09-10", "EstSportif": false, "CategorieSport": 0, "EstInfirme": false, "NatureInfirmite": "", "DateSurvenance": "", "DateSoumission": "24/08/2023 02:08:27", "StatutMaritalId": 3, "ClientId": 1 }]
			
			var json2 = [{"Id":1,"NumeroDossier":"DEMANDE - 0001","Taille":184.0,"Poids":60.0,"TensionArterielle":"12/8","Fumeur":false,"NbrCigarettes":0,"BuveurOccasionnel":false,"BuveurRegulier":false,"Distractions":"Culture Générale","CouvertureEmprunteur":"","CarteIdentite":"ATTIOGBE Godwin_CARTE_IDENTITE","ContratTravail":"ATTIOGBE Godwin_CONTRAT_TRAVAIL","AttestationTravail":"ATTIOGBE Godwin_ATTESTATION_TRAVAIL","PremierBulletinSalaire":"ATTIOGBE Godwin_PREMIER_BULLETIN_SALAIRE","DeuxiemeBulletinSalaire":"ATTIOGBE Godwin_DEUXIEME_BULLETIN_SALAIRE","TroisiemeBulletinSalaire":"ATTIOGBE Godwin_TROISIEME_BULLETIN_SALAIRE","FactureProFormat":"ATTIOGBE Godwin_FACTURE_PROFORMA","EcheanceCarteIdentite":"2023-09-10","EstSportif":false,"CategorieSport":0,"EstInfirme":false,"NatureInfirmite":"","DateSurvenance":"","DateSoumission":"23/08/2023 05:10:15","StatutMaritalId":1,"ClientId":1},{"Id":2,"NumeroDossier":"DEMANDE - 00002","Taille":185.0,"Poids":60.0,"TensionArterielle":"12/8","Fumeur":false,"NbrCigarettes":0,"BuveurOccasionnel":false,"BuveurRegulier":false,"Distractions":"Culture Générale","CouvertureEmprunteur":"","CarteIdentite":"ATTIOGBE Godwin_CARTE_IDENTITE","ContratTravail":"ATTIOGBE Godwin_CONTRAT_TRAVAIL","AttestationTravail":"ATTIOGBE Godwin_ATTESTATION_TRAVAIL","PremierBulletinSalaire":"ATTIOGBE Godwin_PREMIER_BULLETIN_SALAIRE","DeuxiemeBulletinSalaire":"ATTIOGBE Godwin_DEUXIEME_BULLETIN_SALAIRE","TroisiemeBulletinSalaire":"ATTIOGBE Godwin_TROISIEME_BULLETIN_SALAIRE","FactureProFormat":"ATTIOGBE Godwin_FACTURE_PROFORMA","EcheanceCarteIdentite":"2023-09-10","EstSportif":false,"CategorieSport":0,"EstInfirme":false,"NatureInfirmite":"","DateSurvenance":"","DateSoumission":"24/08/2023 02:08:27","StatutMaritalId":3,"ClientId":1}]
			window.$.ajax({
				url: '@Url.Action("Demandes", "Home")',
				type: "GET",
				processData: false,
				contentType: false,
				dataType: 'json',
				success: function(response){
					console.log(response.strJson.total);
					
					bindDataTable(credits, JSON.parse(response.strJson));
				}
			})
		});

		function bindDataTable(credit, asArray) {
			var data = asArray;
			credit.DataTable({
				data: data,
				processing: true,
				destroy: true,
				columns: [
					{ data: 'NumeroDossier', title: "N° dossier" },
					{ data: 'DateSoumission', title: "Date de soumission" },
					//{ data: 'Montant', title: "Montant" },
					//{ data: 'Statut', title: "Statut" },
					{ data: '' }
				],
				columnDefs: [
					{
						targets: 0,
						responsivePriority: 1,
						render: function (data, type, full, meta) {
							return full['NumeroDossier'];
						}
					},
					{
						targets: 1,
						responsivePriority: 1,
						width: '140px',
						render: function (data, type, full, meta) {
							var $dateSoumission = full['DateSoumission'];
							var $output = '<img src="' + assetsPath + 'img/icons/misc/date.png" alt="csv-file" class="me-3" width="20">';
							var $row_output =
								'<div class="d-flex justify-content-start align-items-center user-name">' +
								'<div class="avatar-wrapper">' +
								'<div class="avatar me-2">' +
								$output +
								'</div>' +
								'</div>' +
								'<div class="d-flex flex-column">' +
								'<span class="emp_name text-truncate fs-6">' +
								$dateSoumission +
								'</span>' +
								'</div>' +
								'</div>';

							return $row_output;
						}
					},
					{
						// Actions
						targets: -1,
						title: 'Actions',
						orderable: false,
						searchable: false,
						render: function (data, type, full, meta) {
							return (
								'<div class="d-inline-block">' +
								'<a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="text-primary ti ti-dots-vertical"></i></a>' +
								'<ul class="dropdown-menu dropdown-menu-end m-0">' +
								'<li><a href="javascript:;" class="dropdown-item">Details</a></li>' +
								'</ul>' +
								'</div>' +
								'<a href="javascript:;" class="btn btn-sm btn-icon item-edit"><i class="text-primary ti ti-pencil"></i></a>'
							);
						}
					}
				],
				order: [[1, 'desc']],
				dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
				displayLength: 3,
				lengthMenu: [3, 7, 10],
				language: {
					paginate: {
						//Supprimer le texte précédent et suivant de la pagination
						previous: new DOMParser().parseFromString("Précédent", 'text/html').body.innerHTML,
						next: new DOMParser().parseFromString("Suivant", 'text/html').body.innerHTML,
						last: new DOMParser().parseFromString("Dernier", 'text/html').body.innerHTML,
						first: new DOMParser().parseFromString("Premier", 'text/html').body.innerHTML
					},
					processing: new DOMParser().parseFromString("Traitement", 'text/html').body.innerHTML,
					lengthMenu: new DOMParser().parseFromString("Afficher des entrées", 'text/html').body.innerHTML,
					loadingRecords: new DOMParser().parseFromString("Chargement", 'text/html').body.innerHTML,
					search: new DOMParser().parseFromString("Chercher", 'text/html').body.innerHTML,
					zeroRecords: new DOMParser().parseFromString("Aucun enregistrement trouvé", 'text/html').body.innerHTML,
					emptyTable: '<div class="text-center">' +
						'<img class="mt-2 mb-2" src="' + assetsPath + 'img/illustrations/no-records.png" alt="pas-de-données" width="160" height="160" />' +
						'<h6>' + new DOMParser().parseFromString("Aucune donnée disponible", 'text/html').body.innerHTML + '</h6>' +
						'</div>',
					info: new DOMParser().parseFromString("Affichage des entrées", 'text/html').body.innerHTML,
					infoEmpty: new DOMParser().parseFromString("Affichage zéro entrée", 'text/html').body.innerHTML,
					infoFiltered: new DOMParser().parseFromString("Entrées filtrées", 'text/html').body.innerHTML
				},
				responsive: {
					details: {
						display: $.fn.dataTable.Responsive.display.modal({
							header: function (row) {
								var data = row.data();

								return new DOMParser().parseFromString("Détails", 'text/html').body.innerHTML;
							}
						}),
						type: 'column',
						renderer: function (api, rowIdx, columns) {
							var data = $.map(columns, function (col, i) {
								return col.title !== '' // ? Ne pas afficher la ligne dans la fenêtre popup modale si le titre est vide (pour les cases à cocher)
									? '<tr data-dt-row="' +
									col.rowIndex +
									'" data-dt-column="' +
									col.columnIndex +
									'">' +
									'<td>' +
									col.title +
									' :' +
									'</td> ' +
									'<td>' +
									col.data +
									'</td>' +
									'</tr>'
									: '';
							}).join('');

							return data ? $('<table class="table"/><tbody />').append(data) : false;
						}
					}
				}
			});
		}
	</script>
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-4">
			<div class="card-body">
				<h6>Mes demandes de crédit</h6>
				<div class="table-responsive border-top">
					<div class="card-datatable table-responsive">
						<table class="table credits">
							<thead>
								<tr>
									<th>N° dossier</th>
									<th>Date de soumission</th>
									<th>Actions</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
